.home-page-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 301px;
  display: none;
}
.home-page-inner,
.home-page-item {
  position: absolute;
  box-sizing: border-box;
}
.home-page-item {
  top: -107.7px;
  left: 541.9px;
  border-right: 1px solid var(--color-whitesmoke-200);
  width: 1px;
  height: 1025px;
}
.home-page-inner {
  top: 132px;
  left: 0;
  border-top: 1px solid var(--color-whitesmoke-200);
  width: 1441px;
  height: 1px;
  z-index: 1;
}
.home {
  min-width: 54px;
}
.about-me,
.contact,
.home {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
}
.about-me {
  min-width: 86px;
  white-space: nowrap;
}
.contact {
  min-width: 74px;
}
.footer {
  position: absolute;
  top: 48px;
  left: 1034px;
  width: 310px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.hola {
  margin: 0;
  color: var(--color-3);
}
.soy-gabriel {
  color: var(--color-white);
}
.soy-gabriel-backend {
  margin: 0;
}
.hola-soy-gabriel-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 96px;
  font-weight: 700;
  font-family: inherit;
}
.hire-me {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-3);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  min-width: 72px;
}
.hire-me-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--color-31);
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.hire-me-button:hover {
  background-color: var(--color-darkturquoise);
}
.download-cv {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-3);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  min-width: 125px;
}
.download-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.download-c-v-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: rgba(57, 62, 70, 0.75);
  backdrop-filter: blur(4px);
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.download-c-v-button:hover {
  background-color: rgba(94, 99, 110, 0.75);
}
.call-to-action-buttons,
.image-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.call-to-action-buttons {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.image-wrapper {
  position: absolute;
  top: 334px;
  left: 180px;
  width: 634px;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  z-index: 1;
  font-size: 96px;
  color: var(--color-31);
}
.design-element-icon {
  position: absolute;
  top: 381px;
  left: 28px;
  width: 122.6px;
  height: 235.4px;
  object-fit: contain;
}
.doodles-mixed-round,
.skill-icon {
  position: absolute;
  top: 0;
  left: 33px;
  width: 514px;
  height: 514px;
}
.skill-icon {
  top: 360px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  width: 348px;
  height: 24px;
}
.social-icon-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.social-icon {
  position: absolute;
  top: 183px;
  left: 0;
  width: 400px;
  height: 472.7px;
}
.footer-shapes-left,
.frame-icon {
  position: absolute;
  top: 295px;
  left: 814px;
  width: 547px;
  height: 655.7px;
}
.frame-icon {
  top: 864px;
  left: 464px;
  width: 96px;
  height: 96px;
  overflow: hidden;
  z-index: 1;
}
.home-page {
  align-self: stretch;
  height: 1024px;
  position: relative;
  background-color: var(--color-1);
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-3);
  font-family: var(--font-poppins);
}
.frame-child {
  height: 46.6px;
  width: 61.5px;
  position: relative;
}
.hero-left-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.lightbulb-icon {
  height: 99.9px;
  width: 78px;
  position: absolute;
  margin: 0 !important;
  top: -8.9px;
  right: 94.3px;
  object-fit: contain;
}
.me {
  color: var(--color-31);
}
.about-me1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.hero-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
}
.soy-un-desarrollador {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-300);
  text-align: center;
}
.hero-name-parent {
  flex: 1;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
}
.hero-description,
.hero-left,
.hero-left-wrapper,
.hero-name-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-description {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  max-width: 100%;
}
.hero-left,
.hero-left-wrapper {
  flex-direction: column;
}
.hero-left {
  align-self: stretch;
  gap: 74.4px;
  max-width: 100%;
}
.hero-left-wrapper {
  width: 530px;
  padding: 135px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 712px);
}
.about-me-page-child {
  height: 1px;
  width: calc(100% + 1px);
  position: absolute;
  margin: 0 !important;
  right: -1px;
  bottom: 131px;
  left: 0;
  border-top: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  z-index: 1;
}
.frame-item {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.about-me-page-inner {
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
}
.design-element-icon1 {
  height: 194.9px;
  width: 156.2px;
  position: absolute;
  margin: 0 !important;
  bottom: 223.1px;
  left: 257px;
  object-fit: contain;
}
.frame-inner {
  position: absolute;
  top: 569px;
  left: 160px;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  width: 348px;
  height: 24px;
}
.doodle-items-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.group-icon {
  position: absolute;
  top: 215px;
  left: 201.3px;
  width: 37.4px;
  height: 46.5px;
  z-index: 1;
}
.doodle-items-parent,
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 665.3px;
  height: 499px;
}
.frame-child1 {
  top: 224.3px;
  left: 108px;
  width: 412.7px;
  height: 353.1px;
  object-fit: cover;
  z-index: 2;
}
.ellipse-parent {
  align-self: stretch;
  height: 593px;
  position: relative;
}
.frame-div {
  width: 665.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 230px 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 577px);
}
.about-me-page,
.doodle-items-icon1 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.about-me-page {
  align-self: stretch;
  background-color: var(--color-1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 87px;
  box-sizing: border-box;
  gap: 15px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-3);
  font-family: var(--font-poppins);
}
.doodle-items-icon1 {
  height: 386px;
  flex: 1;
  z-index: 2;
}
.doodle-items-icon2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 4;
}
.proyecto-web-centrado {
  width: 381px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 5;
}
.hero-right {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -478px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 33px var(--padding-25xl);
  box-sizing: border-box;
  min-height: 386px;
}
.doodle-items-group,
.doodle-items-icon3,
.doodle-items-icon4 {
  width: 514.7px;
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.doodle-items-group {
  top: 736px;
  left: 973px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
}
.doodle-items-icon3,
.doodle-items-icon4 {
  height: 386px;
  top: -268px;
  overflow: hidden;
}
.doodle-items-icon3 {
  left: -120px;
}
.doodle-items-icon4 {
  right: -241.7px;
  z-index: 2;
}
.all,
.my-recent-projects-container {
  position: relative;
  display: inline-block;
}
.my-recent-projects-container {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.all {
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-3);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  min-width: 24px;
}
.all-filter {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--color-31);
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.all-filter:hover {
  background-color: var(--color-darkturquoise);
}
.app-design {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-3);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  min-width: 106px;
}
.ui-filter {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--color-darkslategray-100);
  flex: 1;
  backdrop-filter: blur(8px);
  border-radius: var(--br-5xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 106px;
  white-space: nowrap;
}
.ui-filter:hover,
.ux-filter:hover,
.web-design-filter:hover {
  background-color: var(--color-dimgray-100);
}
.databases {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-3);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  min-width: 101px;
}
.ux-filter {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--color-darkslategray-100);
  flex: 1;
  backdrop-filter: blur(8px);
  border-radius: var(--br-5xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 101px;
}
.web-design {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-3);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  min-width: 110px;
}
.web-design-filter {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--color-darkslategray-100);
  flex: 1;
  backdrop-filter: blur(8px);
  border-radius: var(--br-5xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 110px;
  white-space: nowrap;
}
.my-recent-projects-parent,
.works-filter {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.works-filter {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
}
.my-recent-projects-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  z-index: 4;
}
.project-idea,
.projects-intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.project-idea {
  width: 645px;
  justify-content: flex-start;
  position: relative;
}
.projects-intro {
  width: 879px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.doodle-items-icon5 {
  height: 386px;
  width: 514.7px;
  position: absolute;
  margin: 0 !important;
  top: -113px;
  left: -117px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.course-website-landing-page-th {
  position: absolute;
  width: calc(100% - 15px);
  top: 16px;
  right: 8px;
  left: 7px;
  max-width: 100%;
  overflow: hidden;
  height: 158px;
  object-fit: cover;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.course-website-landing-page-th-parent {
  align-self: stretch;
  height: 174px;
  position: relative;
}
.cinema-app {
  flex: 1;
  position: relative;
  white-space: pre-wrap;
}
.cinema-app-title,
.example-one-thumbnail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cinema-app-title {
  align-self: stretch;
  flex-direction: row;
  padding: 0 77px;
}
.example-one-thumbnail {
  flex: 1;
  backdrop-filter: blur(4px);
  border-radius: var(--br-base);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  padding: 45px var(--padding-25xl) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-sm);
  max-width: 100%;
  z-index: 3;
}
.doodle-items-container,
.project-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.doodle-items-container {
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.project-row {
  width: 426.7px;
  justify-content: flex-end;
  padding: 0 var(--padding-10xl);
  box-sizing: border-box;
}
.doodle-items-icon6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.doodle-items-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-15xl) 14px;
  box-sizing: border-box;
  position: relative;
  min-height: 386px;
  max-width: 100%;
  margin-top: -19px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-300);
}
.project-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 335px;
  max-width: 100%;
}
.doodle-items-icon7 {
  height: 386px;
  width: 514.7px;
  position: absolute;
  margin: 0 !important;
  top: -113px;
  right: -105.7px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.image-2-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.music-player-app {
  width: 196px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.image-2-parent,
.music-player-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-27xl);
}
.image-2-parent {
  flex: 1;
  backdrop-filter: blur(4px);
  border-radius: var(--br-base);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-10xl) var(--padding-base)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: 12px;
  max-width: 100%;
  z-index: 5;
}
.doodle-items-parent2 {
  height: 280px;
  width: 368px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  min-width: 368px;
}
.doodle-items-parent2,
.project-showcase,
.projects-intro-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.project-showcase {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 18.3px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.projects-intro-parent {
  margin-bottom: -178px;
  width: 901px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  font-size: var(--font-size-45xl);
  color: var(--color-3);
}
.doodle-items-icon8 {
  width: 514.7px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 140%;
}
.doodle-items-wrapper {
  width: 405px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.doodle-items-icon9 {
  height: 386px;
  width: 514.7px;
  position: absolute;
  margin: 0 !important;
  top: -113px;
  right: -167.7px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.space-x-dragon {
  flex: 1;
  position: relative;
}
.about-content,
.nav-icon,
.space-x-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.space-x-title {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 8px;
}
.about-content,
.nav-icon {
  max-width: 100%;
}
.nav-icon {
  align-self: stretch;
  flex: 1;
  backdrop-filter: blur(4px);
  border-radius: var(--br-base);
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-27xl) 23px var(--padding-base) 27px;
  box-sizing: border-box;
  gap: 4px;
  z-index: 5;
}
.about-content {
  width: 368px;
  height: 280px;
  flex-direction: row;
  position: relative;
}
.proyecto-emulador-de {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.about-content-parent,
.space-x-description {
  align-items: flex-start;
  box-sizing: border-box;
}
.space-x-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 6px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-300);
}
.about-content-parent {
  width: 407px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-sm);
}
.about-content-parent,
.lightbulb-icon1,
.projects-page {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.lightbulb-icon1 {
  width: 488px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 89px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.projects-page {
  width: 1440px;
  background-color: var(--color-1);
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 80px 3px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke-300);
  font-family: var(--font-poppins);
}
.contact-page-child {
  width: 1px;
  height: calc(100% + 1px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: -1px;
  left: 512px;
  border-right: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.en-mente {
  margin: 0;
  color: var(--color-31);
}
.algn-proyecto-en-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 1;
}
.input-elements-child {
  position: absolute;
  top: 341px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  width: 190px;
  height: 24px;
}
.input-elements-item {
  position: absolute;
  top: 0;
  left: 15px;
  width: 255.4px;
  height: 348px;
  object-fit: cover;
  z-index: 1;
}
.input-elements {
  height: 365px;
  width: 270.4px;
  position: relative;
  flex-shrink: 0;
}
.vector-icon {
  height: 203.5px;
  width: 182.6px;
  position: absolute;
  margin: 0 !important;
  top: 42px;
  left: 22px;
  object-fit: contain;
}
.input-elements-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 102px;
  position: relative;
  margin-top: -10px;
}
.algn-proyecto-en-mente-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 390px;
  max-width: 100%;
}
.tu-nombre {
  position: relative;
  display: inline-block;
  min-width: 102px;
}
.name-field,
.name-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-field {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-darkslategray-100);
  align-self: stretch;
  height: 59px;
  border-radius: var(--br-base);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--color-whitesmoke-100);
  min-width: 173px;
}
.name-input {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
  min-width: 187px;
}
.tu-email {
  position: relative;
  display: inline-block;
  min-width: 79px;
}
.name-input-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.tu-mensaje {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.frame-container,
.message-field,
.message-input {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.message-field {
  border: 0;
  background-color: var(--color-darkslategray-100);
  height: 280px;
  width: auto;
  outline: 0;
  border-radius: var(--br-base);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--color-whitesmoke-100);
}
.frame-container,
.message-input {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-container {
  gap: var(--gap-5xl);
}
.enviar-mensaje {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-3);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.enviar-mensaje-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--color-31);
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.enviar-mensaje-parent:hover {
  background-color: var(--color-darkturquoise);
}
.contact-page-inner,
.frame-group,
.frame-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 390px;
  font-size: var(--font-size-lg);
}
.contact-page-inner,
.frame-parent {
  flex-direction: row;
}
.frame-parent {
  width: 1248px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-29xl);
}
.contact-page-inner {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.keyboard-icon,
.mail-icon {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.mail-icon {
  width: 75px;
  height: 71.7px;
  right: 165px;
  bottom: 169.3px;
}
.keyboard-icon {
  width: 153px;
  height: 115.4px;
  top: 60px;
  right: 467px;
}
.contact-page-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact-page,
.home-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.contact-page {
  align-self: stretch;
  height: 1024px;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 258px 0 251px;
  box-sizing: border-box;
  position: relative;
  gap: 251px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-3);
  font-family: var(--font-poppins);
}
.home-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: 110px;
  left: 493px;
  z-index: 1;
}
.footer-links-child {
  height: 401px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.home1 {
  position: relative;
  display: inline-block;
  min-width: 54px;
}
.link-spacing-icon {
  height: 48px;
  width: 48px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: 61px;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
}
.about-me2 {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.user-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.contact1 {
  position: relative;
  display: inline-block;
  min-width: 74px;
}
.contact-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.placeholder-element-icon {
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 48px;
}
.social-icons,
.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social-icons {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.social-links {
  width: 214px;
  justify-content: flex-start;
  padding: 0 11px;
  box-sizing: border-box;
}
.contact-links {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl);
  min-width: 194px;
}
.contact-links,
.footer-links,
.links-container,
.links-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.links-wrapper {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  gap: 68px;
}
.footer-links,
.links-container {
  max-width: 100%;
}
.links-container {
  flex: 1;
  flex-direction: column;
  padding: 110px 0 0;
  box-sizing: border-box;
  min-width: 274px;
}
.footer-links {
  width: 436px;
  flex-direction: row;
  gap: var(--gap-sm);
  min-width: 436px;
}
.terms-of-service {
  position: relative;
}
.final-design,
.footer-page,
.legal {
  display: flex;
  align-items: flex-start;
}
.legal {
  flex-direction: column;
  justify-content: flex-start;
  padding: 325px 0 0;
  box-sizing: border-box;
  min-width: 289px;
  color: var(--color-whitesmoke-300);
}
.final-design,
.footer-page {
  position: relative;
}
.footer-page {
  align-self: stretch;
  background-color: var(--color-1);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 96px 0 512px;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-3);
  font-family: var(--font-poppins);
}
.final-design {
  width: 100%;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1425px) {
  .hero-left-wrapper {
    display: none;
  }
  .about-me-page-child {
    max-width: 100%;
  }
  .about-me-page {
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }
  .contact-page {
    padding-top: 168px;
    padding-bottom: 163px;
    box-sizing: border-box;
  }
  .footer-links,
  .legal {
    flex: 1;
  }
  .footer-page {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .about-me-page-child {
    max-width: calc(100% - 530px);
  }
  .frame-div {
    padding-top: 149px;
    box-sizing: border-box;
  }
  .projects-page {
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .contact-page {
    height: auto;
  }
  .footer-links {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .hola-soy-gabriel-container {
    font-size: 48px;
    line-height: 58px;
  }
  .about-me1 {
    font-size: var(--font-size-32xl);
  }
  .hero-left {
    gap: 37px;
  }
  .hero-left-wrapper {
    padding-top: 88px;
    box-sizing: border-box;
  }
  .about-me-page-child {
    max-width: calc(100% - 530px);
  }
  .about-me-page {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .my-recent-projects-container {
    font-size: var(--font-size-32xl);
  }
  .doodle-items-container,
  .doodle-items-parent2 {
    flex: 1;
  }
  .project-showcase {
    flex-wrap: wrap;
  }
  .projects-page {
    gap: var(--gap-5xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .algn-proyecto-en-container {
    font-size: var(--font-size-32xl);
    line-height: 64px;
  }
  .algn-proyecto-en-mente-parent {
    min-width: 100%;
  }
  .name-input-parent {
    flex-wrap: wrap;
  }
  .frame-group {
    min-width: 100%;
  }
  .frame-parent {
    gap: var(--gap-5xl);
  }
  .contact-page {
    gap: 125px;
    padding-top: 109px;
    padding-bottom: 106px;
    box-sizing: border-box;
  }
  .footer-page {
    padding-left: 256px;
    padding-right: 48px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .hola-soy-gabriel-container {
    font-size: 29px;
    line-height: 38px;
  }
  .call-to-action-buttons {
    flex-wrap: wrap;
  }
  .home-page {
    height: auto;
    min-height: 1024;
  }
  .about-me1 {
    font-size: var(--font-size-19xl);
  }
  .hero-left {
    gap: 19px;
  }
  .about-me-page-child {
    max-width: calc(100% - 530px);
  }
  .frame-div {
    padding-top: 97px;
    box-sizing: border-box;
  }
  .my-recent-projects-container {
    font-size: var(--font-size-19xl);
  }
  .cinema-app-title,
  .example-one-thumbnail,
  .music-player-title {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .doodle-items-parent2 {
    min-width: 100%;
  }
  .projects-intro-parent {
    gap: var(--gap-5xl);
  }
  .lightbulb-icon1 {
    gap: 44px;
  }
  .algn-proyecto-en-container {
    font-size: var(--font-size-19xl);
    line-height: 48px;
  }
  .input-elements-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-page {
    gap: 63px;
  }
  .footer-links-child {
    width: 100%;
    height: 1px;
  }
  .contact-links {
    gap: var(--gap-5xl);
  }
  .links-wrapper {
    gap: 34px;
    flex-wrap: wrap;
  }
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-page,
  .legal {
    box-sizing: border-box;
  }
  .legal {
    padding-top: 211px;
  }
  .footer-page {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
}
